@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-orbitron);
  --font-mono: var(--font-orbitron);
  --font-custom: var(--font-orbitron);
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f9fa;
    --foreground: #171717;
  }
}

body {
  background: #f8f9fa;
  color: #171717;
  font-family: var(--font-orbitron), Arial, Helvetica, sans-serif;
}

.bg-gradient {
  background: linear-gradient(135deg, #003699 0%, #2862CC 50%, #00CFFF 100%);
}
